@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: rgb(176, 245, 176);
  font-family: 'Poppins', sans-serif;
}
/* customize scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ec8181;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 255, 0.705);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e01212;
}
/* Loing in*/
.active, .logout{
  color: wheat;
  background-color: rgb(198, 86, 202);
  font-weight: bolder;                                         
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}
task-container{
  height: 90vh;
  background-color: rgb(238, 204, 140);
}

.addTask{
  height: 10vh;
  background-color: transparent;
  padding: 10px;
}
.outlet{
  height:80vh;
  background-color: rgb(194, 33, 33);
  border-radius: 10px;
  padding: 1rem;
  overflow: auto;
}
.indicator{
  display: flex;
  align-items: center;
  height:10vh;
  margin:auto 10px;
}